@import '../../util/variables.scss';

@mixin header {
	margin-bottom: 1rem;
	font-family: Georgia;
	font-size: 2rem;
	line-height: 68px;
	text-align: center;
	font-weight: normal;
}

@mixin text {
	font-family: 'Open Sans';
	font-size: 1rem;
	line-height: 32px;
	color: $burnt;
	text-align: justify;
}

@mixin btn {
	background-color: $secondAccent;
	opacity: 0.3;
	border-radius: 50px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
	height: 3rem;
	width: 3rem;
	font-size: 1rem;
	cursor: pointer;
}

@mixin image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

@keyframes fadein {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

.project {
	animation: fadein 1.5s;
	.farmr {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: auto;
		.title {
			display: flex;
			flex-direction: column;
			width: 100%;
			color: $burnt;
			h1 {
				@include header();
				margin-top: 10rem;
				font-size: 3.75rem;
			}
			h2 {
				margin-top: 0;
				font-family: 'Open Sans';
				font-size: 1.25rem;
				line-height: 1.68rem;
				text-align: center;
				font-weight: normal;
			}
			img {
				@include image();
				margin-top: 1rem;
				width: 65%;
			}
			.imac {
				width: 50%;
			}
		}
		section {
			width: 50%;
			h1 {
				@include header();
			}
			p {
				@include text();
			}
		}
		img {
			@include image();
			width: 55%;
		}
		button {
			@include btn();
			display: flex;
			position: fixed;
			outline: none;
			top: 90%;
			left: 4.3%;
			transition: all 0.3s ease-in-out;
			svg {
				fill: $rare;
				text-align: center;
				height: 2rem;
				width: 2rem;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
}

@media only screen and (min-width: $breakpoint-mobileSM) and (max-width: $breakpoint-tablet) {
	.project {
		.farmr {
			section {
				width: 80%;
				p {
					line-height: normal;
				}
			}
		}
	}
}
