@import '../../util/variables.scss';
@import '../../util//mixin.scss';

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@mixin image {
	margin-left: auto;
	margin-right: auto;
	height: auto;
	border-radius: 8px;
}

.projects {
	font-family: 'Roboto';
	z-index: 0;
	h1 {
		margin: 8rem 0 0 10rem;
		font-family: 'Georgia';
		font-size: 40px;
		font-weight: normal;
		&:after {
			content: '';
			display: block;
			width: 7%;
			padding-top: 0.5rem;
			border-bottom: 3px solid $accent;
		}
	}
	.table {
		margin-top: 3rem;
		width: 100%;
		.row {
			padding-top: 15px;
		}
		.view {
			box-shadow: 0px 0px 30px #696969;
			border-radius: 4px;
		}
		.flex-center {
			border-radius: 4px;
		}
		.rgba-black {
			background-color: rgba(0, 0, 0, 0.5);
		}
		.btn-primary {
			background-color: $primary !important;
			color: $rare;
		}
		.btn-default {
			background-color: $accent !important;
			color: $rare;
		}
		.btn-secondary {
			background-color: $mediumRare !important;
			color: $rare;
			&:hover {
				background-color: $mediumWell !important;
			}
		}
		.modal-content {
			.close {
				outline: none;
			}
		}
	}
}
