$primary: #e3f6ed;
$secondPrimary: #ccddd5;
$accent: #c24b0c;
$secondAccent: #f1c40f;

$rare: #fff;
$whiteSmoke: #f5f5f5;
$mediumRare: #d3d3d3;
$mediumWell: #808080;
$well: #484848;
$burnt: #121212;

$breakpoint-mobileSM: 320px;
$breakpoint-mobile: 400px;
$breakpoint-phablet: 550px;
$breakpoint-tablet: 750px;
$breakpoint-desktop: 1000px;
$breakpoint-desktopHD: 1200px;
