.about {
  height: 100vh;
  margin: 0;
  color: #121212;
}

.about .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .info .portrait {
  position: fixed;
  top: 0;
  left: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 40%;
  z-index: 0;
  -webkit-clip-path: polygon(0 0, 0 180%, 140% 0);
  clip-path: polygon(0 0, 0 180%, 140% 0);
}

.about .info .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
  position: absolute;
  top: 15%;
  left: 50%;
  right: 5%;
  color: #121212;
}

.about .info .text h1 {
  font-family: 'Georgia';
  font-size: 40px;
  font-weight: normal;
}

.about .info .text p {
  font-size: 18px;
  line-height: 30px;
  font-family: 'Open Sans';
}

.about .info .text span {
  font-style: italic;
  padding-bottom: 2rem;
}

.about .info .text__header {
  font-family: 'Open Sans';
  font-size: 18px;
}

.about .info .text__header h3 {
  margin-top: 0;
}

.about .info .text__header h4 {
  margin-top: 0.8rem;
  padding-bottom: 1rem;
  border-bottom: thin solid #D3D3D3;
}

.about .info .text__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about .info .text__skill .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .info .text__skill .column h5 {
  padding-left: 1rem;
}

.about .info .text__skill .column .html {
  margin-left: 0.5rem;
}

.about .info .text__skill .badge--xsmall {
  width: 10%;
}

.about .info .text__skill .badge--small {
  width: 30%;
}

.about .info .text__skill .badge--medium {
  width: 50%;
}

.about .info .text__skill .badge--large {
  width: 70%;
}

.about .info .text__skill .badge--xlarge {
  width: 90%;
}

.about .info .text__skill h5 {
  font-weight: normal;
  font-size: 14px;
  margin-top: 0;
  padding-right: 1rem;
}

.about .info .text__focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 3rem;
}

.about .info .text__focus h3 {
  padding-right: 0.3rem;
  font-size: 16px;
}

.about .info .text__focus a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-decoration: none;
  font-family: 'Open Sans';
  color: #C24B0C;
}

.about .info .text__focus a h4 {
  padding-right: 0.3rem;
  font-weight: normal;
  font-size: 14px;
}

.about .info .text__focus a:hover {
  color: #3d7e9a;
}

.about .info .text__focus span {
  padding-right: 0.3rem;
}

@media only screen and (max-width: 425px) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info .portrait {
    position: absolute;
  }
  .info .text {
    position: relative;
  }
}
/*# sourceMappingURL=about.css.map */