@import '../../util/variables.scss';
@import '../../util//mixin.scss';

@keyframes fadein {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

.form-container {
	display: flex;
	animation: fadein 0.5s;
	z-index: 100;
	h1 {
		text-align: center;
		font-weight: normal;
		font-family: 'Georgia';
		font-size: 34px;
	}
	&__close {
		display: flex;
		justify-content: flex-end;
		overflow: hidden;
		img {
			padding: 0.5rem 0.8rem;
			width: 4%;
			cursor: pointer;
			transition: transform 1s;
			&:hover {
				transform: rotate(90deg);
			}
		}
	}
	form {
		display: flex;
		flex-direction: column;
		label {
			display: flex;
			flex-direction: column;
			font-family: 'Open Sans';
			margin-left: 2rem;
			color: $burnt;
			font-size: 18px;
			padding-top: 1rem;
			input {
				@include inputs();
				height: 2.5rem;
			}
			textarea {
				@include inputs();
				height: 5rem;
				resize: none;
				overflow-y: scroll;
			}
		}
		.btn {
			display: flex;
			justify-content: center;
			padding-bottom: 2rem;
			button {
				@include btn();
				height: 38px;
				width: 85%;
				transition: all 0.3s ease-in-out;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
		.error {
			text-align: right;
			font-size: 14px;
			color: $accent;
		}
	}
}
