$primary: #CDDCE0;
$accent: #C24B0C;

$rare: #FFF;
$mediumRare:#D3D3D3;
$mediumWell: #808080;
$well: #484848;
$burnt: #121212;


html, body {
    height: 100%;
}

a {
    color: $burnt;
}
  
.long {
    height: 100%;
}
  
.scroll {
    opacity: 0.3;
    background-color: $burnt;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 3px;
    border: none;
    &:hover{
        opacity: 1;
    }
    & span {
        color: $rare;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -9px;
        margin-left: -5px;
    }
}
.full-opacity {
    opacity: 1
}