$primary: #CDDCE0;
$accent: #C24B0C;

$rare: #FFF;
$mediumRare:#D3D3D3;
$mediumWell: #808080;
$well: #484848;
$burnt: #121212;

@mixin btn {
    background-color: $rare;
    border: 1.5px solid $primary;
    border-radius: 3px;
    height: 2.5rem;
    width: 9rem;
    font-size: 16px;
    cursor: pointer;
}

.home {
    .hero {
        display: flex;
        flex-direction: column;
        color: $burnt;
        width: 100%;
        height: 100vh;
        // margin: 1.5rem 5rem 0 5rem;
      
        .blurb {
            display: flex;
            flex-direction: column;
            padding-top: 15rem;
            margin: 1.5rem 5rem 0 5rem;
            h2 {
                font-family: 'Georgia';
                font-size: 60px;
                font-weight: normal;
                margin-bottom: 0.5rem;
            }
            h3 {
                font-family: 'Open Sans';
                font-size: 20px;
                font-weight: normal;
                margin: 0 0 2rem 0;
            }
            button {
                width: 15rem;
                height: 2rem;
                background-color: $rare;
                border: thin solid $burnt;
                border-radius: 3px;
                font-size: 16px;
                appearance: none;
                outline: none;
                cursor: pointer;

            }
            button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }
            button span:after {
                content: '\2192';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }
              
            button:hover span {
                padding-right: 25px;
            }
            button:hover span:after {
                opacity: 1;
                right: 0;
            }
            .social-media {
                display: flex;
                justify-content: space-between;
                width: 6%;
                margin-top: 1rem;
            }
            img svg:hover {
                fill: $primary;

            }
        }
    }
}
