@import '../../util/variables.scss';

@mixin btn {
	background-color: $rare;
	border: 1.5px solid $primary;
	border-radius: 3px;
	height: 2.5rem;
	width: 9rem;
	font-size: 16px;
	cursor: pointer;
}

@keyframes slideInFromTop {
	0% {
		transform: translateY(-200%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.home {
	animation: fadein 1.5s;
	.hero {
		display: flex;
		flex-direction: column;
		color: $burnt;
		width: 100%;
		height: 100vh;
		.blurb {
			display: flex;
			flex-direction: column;
			position: relative;
			width: 51%;
			top: 35%;
			margin-left: 5rem;
			z-index: 0;
			&__transition-one {
				animation: 1.8s ease-out 0s 1 slideInFromTop;
				h1 {
					font-family: 'Georgia';
					font-size: 3rem;
					font-weight: normal;
					margin-bottom: 0.5rem;
				}
			}
			&__transition-two {
				animation: 1.2s ease-out 0s 1 slideInFromTop;
				h2 {
					font-family: 'Open Sans';
					font-size: 1rem;
					font-weight: normal;
					margin: 0 0 2rem 0;
				}
			}
			button {
				width: 16rem;
				height: 2rem;
				background-color: $rare;
				border: thin solid $burnt;
				border-radius: 3px;
				font-size: 1rem;
				appearance: none;
				outline: none;
				cursor: pointer;
			}
			button span {
				cursor: pointer;
				display: inline-block;
				position: relative;
				transition: 0.5s;
			}
			button span:after {
				content: '\2192';
				position: absolute;
				opacity: 0;
				top: 0;
				right: -20px;
				transition: 0.5s;
			}

			button:hover span {
				padding-right: 25px;
			}
			button:hover span:after {
				opacity: 1;
				right: 0;
			}
			.social-media {
				display: flex;
				justify-content: space-between;
				width: 14%;
				margin-top: 1rem;

				a svg:hover {
					fill: $secondAccent;
					transform: scale(1.1);
					transition: transform 0.5s ease-in-out, fill 0.5s;
				}
			}
		}
		.girl {
			// margin: 9rem 0 0 42rem;
			width: 55%;
			position: relative;
			top: 3%;
			left: 35%;
		}
	}
}

@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
	.home {
		.hero {
			.blurb {
				top: 20%;
				margin-left: 3rem;
				.social-media {
					width: 50%;
				}
			}
			.girl {
				display: none;
			}
		}
	}
}

@media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
	.home {
		.hero {
			.blurb {
				margin-left: 3rem;
				.social-media {
					width: 30%;
				}
			}
			.girl {
				position: relative;
				top: 0;
				left: 40%;
			}
		}
	}
}
