@import '../../util/mixin.scss';
@import '../../util/variables.scss';

#contact {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 5rem;
	font-family: 'Roboto';
	min-height: 100%;
	h1 {
		margin: 8rem 0 2rem 0;
		font-family: 'Georgia';
		font-size: 40px;
		font-weight: normal;
		&:after {
			content: '';
			display: block;
			width: 7%;
			padding-top: 0.5rem;
			border-bottom: 3px solid $accent;
		}
	}
	.container {
		display: flex;
		width: 100%;
		margin: 0;
		.row {
			position: relative;
			width: 100%;
			z-index: 0;
			.col-md-9 {
				padding: 0;
			}
		}

		.md-form textarea.md-textarea {
			padding: 2.5rem 0;
		}

		.btn-primary {
			margin-bottom: 3rem;
			background-color: $accent !important;
			color: $burnt;
			font-size: 14px;
		}
		.shapes {
			position: absolute;
			top: 70%;
			right: 3%;
		}
	}
	.details {
		margin-top: 2.5rem;
		padding-left: 2rem;
		width: 35%;
		h3 {
			font-size: 1.6rem;
			margin-bottom: 2rem;
		}
		h5 {
			font-size: 1.3rem;
		}
	}
}

@media screen and (min-width: $breakpoint-mobileSM) and (max-width: $breakpoint-mobile) {
	#contact {
		margin: 0 5rem;
		h1 {
			margin-top: 5rem;
			&:after {
				width: 30%;
			}
		}
	}
}

@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
	#contact {
		margin: 0 5rem;
		h1 {
			margin-top: 5rem;
			&:after {
				width: 30%;
			}
		}
	}
}

@media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
	#contact {
		margin: 0 5rem;
		h1 {
			margin-top: 8rem;
			&:after {
				width: 15%;
			}
		}
	}
}

@media (min-width: $breakpoint-desktopHD) {
	.container {
		max-width: 1200px !important;
	}
}
