.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  color: #121212;
  margin: 10.5rem 3rem 0 20rem;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

.footer__left h1 {
  margin-top: 0;
  font-family: 'Georgia';
  font-weight: normal;
  font-size: 34px;
  line-height: 46px;
}

.footer__left h2 {
  margin: 0.5rem 0;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.footer__left .icons {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.footer__left .icons a svg:hover {
  fill: #f1c40f;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: fill 0.5s, -webkit-transform 0.5s ease-in-out;
  transition: fill 0.5s, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, fill 0.5s;
  transition: transform 0.5s ease-in-out, fill 0.5s, -webkit-transform 0.5s ease-in-out;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
}

.footer__right h1 {
  margin-top: 0.5rem;
  font-family: 'Georgia';
  font-size: 30px;
  font-weight: normal;
}

.footer__right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__right form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}

.footer__right form label input {
  font-size: 14px;
  padding-left: 0.5rem;
  outline: none;
  width: 50%;
  height: 2rem;
  margin-bottom: 2rem;
}

.footer__right form label textarea {
  font-size: 14px;
  padding-left: 0.5rem;
  outline: none;
  border-color: #d3d3d3;
  height: 8rem;
  resize: none;
}

.footer__right form button {
  margin-top: 2rem;
  width: 20%;
  height: 2.5rem;
  background-color: #fff;
  border: 1.5px solid #cddce0;
  border-radius: 3px;
  height: 2.5rem;
  width: 9rem;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__right form button:hover {
  background-color: #cddce0;
}

@media only screen and (min-width: 400px) and (max-width: 750px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    margin: 2rem 3.5rem;
  }
  .footer__left {
    width: 100%;
    margin-bottom: 4rem;
  }
  .footer__left .icons {
    width: 25%;
  }
  .footer__right {
    width: 90%;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1000px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    margin: 2rem 6rem 2rem 12rem;
  }
  .footer__left {
    width: 100%;
    margin-bottom: 4rem;
  }
  .footer__left .icons {
    width: 15%;
  }
  .footer__right {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    margin: 4rem 6rem 2rem 12rem;
  }
  .footer__left {
    width: 100%;
    margin-bottom: 4rem;
  }
  .footer__left .icons {
    width: 10%;
  }
  .footer__right {
    width: 100%;
  }
}
/*# sourceMappingURL=footer.css.map */