@import '../../util/variables.scss';

.footer {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #e3f6ed;
	text-align: center;
	height: 44vh;
	color: $burnt;
	svg {
		position: absolute;
		top: -27%;
	}
	h1 {
		font-weight: normal;
		margin-top: 3rem;
		font-size: 2rem;
	}
	h2 {
		margin: 0;
		font-weight: normal;
		font-size: 18px;
	}
	&__links {
		display: flex;
		justify-content: space-evenly;
		margin-top: 1.5rem;
		a {
			h3 {
				font-size: 20px;
				margin-top: 1rem;
				cursor: pointer;
				display: block;
				position: relative;
				transition: all .5s;
				// Until I find the inherit color transition bug
				// &:after {
				// 	content: '';
				// 	display: block;
				// 	width: 0;
				// 	height: 2px;
				// 	background: $secondAccent;
				// 	color: $burnt !important;
				// 	transition: width .5s;
				// }
				// &:hover:after {
				// 	width: 100%;
				// 	color: $burnt !important;
				// }
			}
		}
	}
	small {
		margin-top: 1.5rem;
	}
}

@media screen and (min-width: $breakpoint-mobileSM) and (max-width: $breakpoint-tablet) {
	.footer {
		display: none;
	}
}
