@import '../../util/variables.scss';

.footer {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #e3f6ed;
	text-align: center;
	height: 50vh;
	color: $burnt;
	svg {
		position: absolute;
		top: -18%;
	}
	h1 {
		font-weight: normal;
		margin-top: 5rem;
		font-size: 2rem;
	}
	h2 {
		margin: 0;
		font-weight: normal;
		font-size: 18px;
	}
	&__links {
		display: flex;
		justify-content: space-evenly;
		a {
			margin-top: 4rem;
			h3 {
				font-size: 20px;
				cursor: pointer;
				display: block;
				position: relative;
				transition: all .5s;
				&:after {
					content: '';
					display: block;
					width: 0;
					height: 2px;
					background: $secondAccent;
					color: $burnt !important;
					transition: width .5s;
				}
				&:hover:after {
					width: 100%;
					color: $burnt !important;
				}
			}
		}
	}
	small {
		margin-top: 4.3rem;
	}
}
