$primary: #CDDCE0;
$accent: #C24B0C;

$rare: #FFF;
$mediumRare:#D3D3D3;
$mediumWell: #808080;
$well: #484848;
$burnt: #121212;

.about {
    height: 100vh;
    margin: 0;
    color: $burnt;
    .info {
        display: flex;
        .portrait {
            // object-position: 50 100%;
            position: fixed;
            object-fit: cover;
            height: 100vh;
            width: 40%;
            z-index: 0;
            clip-path: polygon(0 0, 0 800px, 1500px 0, 0 0);
            
        }
        .text {
            display: flex;
            flex-direction: column;
            text-align: justify;
            margin-left: 37rem;
            color: $burnt;
            width: 50%;
            padding: 6rem 5rem;
            h1 {
                font-family: 'Georgia';
                font-size: 40px;
                font-weight: normal;
            }
            p {
                font-size: 18px;
                line-height: 30px;
                font-family: 'Open Sans';
            }
            span {
                font-style: italic;
                padding-bottom: 2rem;
            }
            &__header {
                font-family: 'Open Sans';
                font-size: 18px;
                h3 {
                    margin-top: 0;
                }
                h4 {
                    margin-top: 0.8rem;
                    padding-bottom: 1rem;
                    border-bottom: thin solid $mediumRare;
                }
            }
            &__skill {
                display: flex;
                align-items: baseline;
                justify-content: flex-start;
                .column {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h5 {
                        padding-left: 1rem;
                    }
                    .html {
                        margin-left: 0.5rem;
                    }
                }
                .badge--xsmall {
                    width: 10%;
                }
                .badge--small {
                    width: 30%;
                }
                .badge--medium {
                    width: 50%
                }
                .badge--large {
                    width: 70%
                }
                .badge--xlarge {
                    width: 90%;
                }
                h5 {
                    font-weight: normal;
                    font-size: 14px;
                    margin-top: 0;
                    padding-right: 1rem;
                }
            }
            &__focus {
                display: flex;
                align-items: baseline;
                margin-top: 3rem;
                h3 {
                    padding-right: 0.3rem;
                    font-size: 16px;
                }
                a {
                    display: flex;
                    transition: all .3s ease-in-out ;
                    text-decoration: none;
                    font-family: 'Open Sans';
                    color: $accent;
                    h4 {
                        padding-right: 0.3rem;
                        font-weight: normal;
                        font-size: 14px;
                    }
                    &:hover {
                        color: #3d7e9a;
                    }
                }
                span {
                    padding-right: 0.3rem;

                }
            }
        }
    }
}