$primary: #CDDCE0;
$accent: #C24B0C;

$rare: #FFF;
$mediumRare:#D3D3D3;
$mediumWell: #808080;
$well: #484848;
$burnt: #121212;

@mixin header {
    margin-bottom: 1rem;
    font-family: Georgia;
    font-size: 40px;
    line-height: 68px;
    text-align: center;
    font-weight: normal;
}

@mixin text {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 32px;
    color: $burnt;
    text-align: justify;
}

@mixin btn {
    background-color: $rare;
    border: 1.5px solid $primary;
    // border-radius: 4px;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 16px;
    cursor: pointer;
}

@keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

.project {
    animation: fadein 1.5s;
    .farmr {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            display: flex;
            flex-direction: column;
            width: 100%;
            color: $burnt;
            h1 {
                @include header();
                margin-top: 10rem;
                font-size: 60px;
            }
            h2 {
                margin: 0;
                font-family: 'Open Sans';
                font-size: 20px;
                line-height: 27px;
                text-align: center;
                font-weight: normal;
            }
            img {
                margin: 2rem 17.6rem;
                height: 30rem;
                width: 55rem;
            }
        }
        section {
            margin: 2rem 23.3rem;
            h1 {
                @include header();
            }
            p {
                @include text();
            }
        }
        img {
            height: 29rem;
            width: 50rem;
        }
        button {
            @include btn();
            position: fixed;
            outline: none;
            top: 40rem;
            right: 3rem;
            img {
                height: 2rem;
                width: 2rem;
            }
            &:hover {
                background-color: $primary;
            }
        }
    }
}